.picture-card {
  display: inline-block;
  max-width: 300px;
  min-width: 240px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transform: scale(1);
  background: #fff;
  &:hover {
    .picture {
      background-size: 120% auto;
    }
  }
  .picture {
    transition: 0.2s all;
    padding: 26% 0;
    background-color: black;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 10px 0;
  }
  .content {
    padding: 0;
    line-height: 44px;
    height: 44px;
    background: #fff;
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      margin-right: 20px;
      padding: 0 12px;
    }
    label {
      font-size: 12px;
      display: inline-block;
    }
  }
  &.ver {
    display: inline-flex;
    width: 100%;
    max-width: none;
    .picture {
      flex: 3;
      padding: 14% 0;
    }
    .content {
      flex: 4;
      padding: 12px 12px 0 16px;
      line-height: 1.5;
      height: auto;
      display: flex;
      label {
        word-break: break-all;
      }
    }
  }
}

.picture-cards-container {
  min-width: 1200px;
  margin: -6px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  &.ver {
    margin: -6px;
    flex-direction: column;
    min-width: 0;
    > .picture-card {
      margin: 6px;
    }
  }
  > .picture-card {
    margin: 6px;
    flex: 1;
  }
}