@import './flex.scss';
@import './border.scss';

span, a, i {
  display: inline-block;
}

button {
  +button {
    margin-left: 12px;
  }
}

.ant-table td {
  white-space: nowrap;
}

html, body, #root, section {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  line-height: 2;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.ant-card {
  border-radius: 4px;
}

.ant-card-wider-padding .ant-card-head {
  padding: 0 20px;
}

.ant-card-wider-padding .ant-card-body {
  padding: 20px;
}

.ant-table-pagination.ant-pagination {
  margin-bottom: 0;
}

li {
  list-style-position: inside;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid #eee!important;
}


.ant-form.s12 {
  .ant-form-item {
    margin-bottom: 12px;
  }
}

.ant-form.s8 {
  .ant-form-item {
    margin-bottom: 8px;
  }
}

.ant-modal-footer {
  padding: 20px;
  text-align: center;
}

.ant-card-head-title {
  padding: 14px 0;
}

.ant-btn {
  line-height: 1;
}

::-webkit-scrollbar {
  width: 8px;
  background: #e6e7e7;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
}