.ant-layout-content {
  overflow: hidden!important;
}

.books-context {
  position: relative;
  height: calc(100vh - 116px);
  .left-tree {
    overflow: auto;
    min-width: 280px;
    padding: 20px 20px 24px 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 9;
    .ant-tree.ant-tree-directory {
      display: inline-block;
    }
  }
  .md {
    flex: 1;
    display: flex;
  }
  .welcome {
    width: 100%;
    overflow: auto;
    position: relative;
    background: rgba(82, 86, 89, 0.2);
    flex: 1;
    input {
      padding-left: 16px;
    }
  }
}

.ant-select-dropdown-menu-item-group-title {
  white-space: nowrap;
}

.ant-tree.ant-tree-show-line li span.ant-tree-switcher {
  background: #d3d7d4;
  color: #fff;
}

.ant-tree.ant-tree-directory > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper::before, .ant-tree.ant-tree-directory .ant-tree-child-tree > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper::before {
  background: #74787c;
}

.ant-tree-title {
  font-size: 10pt;
  padding-right: 8px;
}

.ant-tree > li:first-child {
  padding: 0;
}

.grey {
  color: #aaa;
  font-size: 1.1em;
}

.ant-tree-node-content-wrapper {
  position: relative;
}

.ant-tree-node-selected {
  a {
    color: #fff;
  }
}